img {
    width:100%;
}

#columnchart_values{
    width:100%;
}

.main-nav {
    max-width: 800px;
}

.blog {
    max-width:800px;
}

.listings-nav {
    max-width: 800px;
}

.listing-photos{
    max-width: 800px;
}

.footer-grid{
    min-height: 200px;
    max-width: 800px;
}

.footer-inner{
    min-height: 200px;
}

.footer-cell-1{
    max-height: 50px;
}

i.material-icons {
    font-size: 40px;
    color: black;
    padding-left:4px;
}

img.logo {
    width: auto;
    height:50px;
    padding: 10px;
}

.address {
    text-align: center;
}

h2.mdc-typography--headline2.title {
    text-align: center;
    font-family: 'Bad Script', cursive;
    margin-bottom: 10px;
    margin-top:10px;
}

h2.mdc-typography--headline2 {
    font-family: 'Bad Script', cursive;
    text-align: center;
    margin-top:10px;
    margin-bottom:10px;
}

h3.mdc-typography--headline3 {
    font-family: 'Bad Script', cursive;
    text-align: center;
    margin-top:10px;
    margin-bottom:10px;
}

h4.mdc-typography--headline4 {
    font-family: 'Bad Script', cursive;
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;
}

.mdc-tab {
    height: 48px;
    width: 100%;
    }

a.menulink {
    text-decoration: none;
    width:100%;
}

.chart {
    width: 100%; 
    min-height: 450px;
  }
  .row {
    margin:0 !important;
  }

  p.address {
    margin-bottom: 0px;
}

.mdc-layout-grid.title {
    padding-bottom: 0px;
}

mdc-layout-grid.mdc-layout-grid--align-center.listings-nav {
    padding-top: 0px;
}

.mdc-layout-grid.mdc-layout-grid--align-center.blog {
    padding-top:0px;
}

.mdc-layout-grid.banner {
    padding-bottom: 0px;
}

.mdc-layout-grid.mdc-layout-grid--align-center.main-nav {
    padding-top: 0px;
    padding-bottom: 0px;
}

mdc-layout-grid.subtitle {
    padding-bottom: 0px;
}

li.mdc-list-item {
    text-align: center;
    display: block;
    padding-bottom:20px;
}

#p1{
    margin-top:0px;
}

img.slrelogo {
    width: 310px;
    height: auto;
}

li {
    padding: 10px;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }