img {
    width:100%;
}

#columnchart_values{
    width:100%;
}

.main-nav {
    max-width: 800px;
}

.blog {
    max-width:800px;
}

.listings-nav {
    max-width: 800px;
}

.listing-photos{
    max-width: 800px;
}

.footer-grid{
    min-height: 200px;
    max-width: 800px;
}

.footer-inner{
    min-height: 200px;
}

.footer-cell-1{
    max-height: 50px;
}

i.material-icons {
    font-size: 40px;
    color: black;
    padding-left:4px;
}

img.logo {
    width: auto;
    height:50px;
    padding: 10px;
}

.address {
    text-align: center;
}

h2.mdc-typography--headline2.title {
    text-align: center;
    font-family: 'Bad Script', cursive;
    margin-bottom: 10px;
    margin-top:10px;
}

h2.mdc-typography--headline2 {
    font-family: 'Bad Script', cursive;
    text-align: center;
    margin-top:10px;
    margin-bottom:10px;
}

h3.mdc-typography--headline3 {
    font-family: 'Bad Script', cursive;
    text-align: center;
    margin-top:10px;
    margin-bottom:10px;
}

h4.mdc-typography--headline4 {
    font-family: 'Bad Script', cursive;
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;
}

.mdc-tab {
    height: 48px;
    width: 100%;
    }

a.menulink {
    text-decoration: none;
    width:100%;
}

.chart {
    width: 100%; 
    min-height: 450px;
  }
  .row {
    margin:0 !important;
  }

  p.address {
    margin-bottom: 0px;
}

.mdc-layout-grid.title {
    padding-bottom: 0px;
}

mdc-layout-grid.mdc-layout-grid--align-center.listings-nav {
    padding-top: 0px;
}

.mdc-layout-grid.mdc-layout-grid--align-center.blog {
    padding-top:0px;
}

.mdc-layout-grid.banner {
    padding-bottom: 0px;
}

.mdc-layout-grid.mdc-layout-grid--align-center.main-nav {
    padding-top: 0px;
    padding-bottom: 0px;
}

mdc-layout-grid.subtitle {
    padding-bottom: 0px;
}

li.mdc-list-item {
    text-align: center;
    display: block;
    padding-bottom:20px;
}

#p1{
    margin-top:0px;
}

img.slrelogo {
    width: 310px;
    height: auto;
}